# Compile this file with:
#   pip-compile --output-file=requirements.txt requirements.in
#
# Then install with
#   pip install -r requirements.txt

jupyterlab
jupyterlab-quarto
manim
nbdev # Technically a dev requirement but putting it here because it has a dependency conflict with manim otherwise.
numpy
sympy